body {
	margin:0;
	padding-top:20px;
	background:#b0a699
url(../img/fade2.jpg)
top center repeat-x;

	overflow: scroll;

}
/*
	background:#b3a99b
	background:#d59778
*/

#global {
	margin:0;
	padding:0;
	font-family:tahoma, arial, verdana;
	font-size:0.8em;
	color:#FFF;
background: 
url(../img/Border_Steampunk_1024_2.jpg) 
        no-repeat top center;

}


#main {
	clear:both;
        padding-top: 50px;
}


/*
	Zona del menu de la cabecera superior
*/

/*
EN TEORIA ESTO NO SIRVE; TIRA DE HEADER UL
#cabecera ul {
		margin:0;
		list-style:none;
  padding: 0;
  font-size: 14px;
  width: 100%;

}
*/
#cabecera a {
  font-size: 14px;
      vertical-align: bottom;
        display: block;
}



#header {
	float:left;
	width:1024px;
	padding:0;
	margin: 0;
	font-size:16px;
	font-weight: bold;
	line-height:normal;
}
/*
	background-color:#000000;
        filter:alpha(opacity=20);
        -moz-opacity:0.2;
        -khtml-opacity: 0.2;
        opacity: 0.2;

*/
	#header ul {
		margin:0;
		list-style:none;
		  padding: 0;
  		font-size: 13px;
width: 1024px;  		
  		vertical-align: bottom;
	}
/*
width: 100%;
			padding:10px 0 0 10px;
*/


.registrar a:link {
font-size: 20px; 
font-weight: bold; 
color: #c58768;
}

.registrar a:hover {
font-size: 20px; 
font-weight: bold; 
color: #e5a788;
}



	#header li {
		display:inline;
		margin-left :10px;
		margin-right :10px;
		padding:0;
		width:300px;
		line-height: 2em;
		color: #000000;

	}



	#header a:hover, #header a:hover span {
		background-color:#000000;
	        filter:alpha(opacity=70);
	        -moz-opacity:0.7;
	        -khtml-opacity: 0.7;
	        opacity: 0.7;
		color: #f6ba9d;
	}


	/*
	*	For the next two rules:	
	*	1. A single image is used for the two doors, rather than one.
	*	2. Ascetically, the 'font-weight:bold' was removed to closely mimic the www.digital-web.com tabs.
	*	3. The padding was modified for personal preference.
	*/
	#header a {
		float:left;
		background: #000000 url('../img/bordes.png') no-repeat left top;
		padding-right: 9px;
		padding-left: 9px;
		text-decoration:none;
		color: #664a2d;
	}
	#header a span {
		background-color:#000000;
		background-image:url('../img/bordes.png') no-repeat right top;
		padding: 0 0 0 0;
	}


	/*
		float:left;
		display:block;
		padding:4px 15px 3px 6px;

	*	1. At this point many things are simplified. The hover and background colors are set,
	*	and no positions are used because we aren't swapping images
	*	2. 'padding-bottom:4px;' on the current span pushes that tab 1px higher than the others, 
	*	exposing 1px of the background color of #header and giving the effect of an underline.
	*/
	
	#header #current a span {
		padding-bottom:4px;
	}
	#header #current a span, #header #current a {

	        filter:alpha(opacity=80);
	        -moz-opacity:0.8;
	        -khtml-opacity: 0.8;
	        opacity: 0.8;

		background-color:#000000;
		color: #e6aa8d;
	}


/*
		  background-color: #222222;
   ------------------ Fin del menu superior --------------------
*/


table.tabla_pagina {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}


zona_superior {
	position:absolute; 
	z-index: 1;
}


.espacio {
	clear: both; height: 20px;
}

.espaciomax {
	clear: both; height: 100px;
}



/*
 		TABLA DE LOGIN
*/

#para_tabla_login {
  
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  padding: 2px;
  border: 1px solid #000;      /* puts a black border around the menu blocks */
}

table.tabla_login {

	width: 850px;
	padding-top: 5px;
	padding-bottom: 5px;
        background-color: #000000;

	padding-left: 5px;
	text-align: left;

        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
}

/*  Una vez logado */

table.tabla_login2 {

	width: 850px;
	padding-top: 5px;
	padding-bottom: 5px;
        background-color: #000000;

	padding-left: 5px;
	text-align: left;

        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
}

table.tabla_login2 td {
	width: 425px;
	text-align: left;
}

/*
	FIN de tabla login
*/


table.tabla_pestanyas {

	width: 725px;
	padding-top: 15px;
	padding-bottom: 15px;
        background-color: #000000;

        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
}

table.none {
	vertical-align:top;
}

table.tabla_izquierda {
	vertical-align:top;
	width: 150px;
	margin-left: auto;
	margin-right: auto;

}
/*
        background-color: #000000;
*/

ul.makeMenu, ul.makeMenu ul {
  width: 150px;                 /* sets the size of the menu blocks */
  padding-left: 0px;           /* stops the usual indent from ul */
  cursor: default;             /* gives an arrow cursor */
  margin-left: 0px;            /* Opera 7 final's margin and margin-box model cause problems */
  text-align: center;
  padding: 2px;
  border: 1px solid #000;      /* puts a black border around the menu blocks */


}

ul.makeMenu li {


}


ul.makeMenu li a:link {
	color: #dd9933;
}
ul.makeMenu li a:visited {
	color: #dd9933;
}
ul.makeMenu li a:active {
	color: #dd9933;
}

ul.makeMenu li a {

  color: #ffbb55;

  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;

  background-color: #000000;      /* makes the menu blocks mint green - a bg-color MUST be included for IE to work properly! */

  line-height: 2em;

  display: block;
  list-style-type: none;       /* removes the bullet points */
  margin: 0px;                 /* Opera 7 puts large spacings between li elements */
  position: relative;          /* makes the menu blocks be positioned relative to their parent menu item
                                  the lack of offset makes these appear normal, but it will make a difference
                                  to the absolutely positioned child blocks */
  color: #fff;                 /* sets the default font colour to white */
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;


}

ul.makeMenu li:hover {
  color: #000000;                 /* makes the active menu item text black */ 
    background-color: #000000; 


        filter:alpha(opacity=7);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;

}

ul.makeMenu li:hover a {
	color: #ffbb55;
}










td.menuseleccionado {

        background-color: #c58768;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	width: 150px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	height : 30px;
	
}


td.menunoseleccionado {

	height : 30px;
	background-color: #000000;
	font-weight: bold;
	font-size: 14px;
	width: 150px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	
}



#para_tabla_central {
  
  width: 725px;
  padding: 2px;
  border: 1px solid #000;      /* puts a black border around the menu blocks */
}

table.tabla_central {


	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;

	width: 725px;
        background-color: #000000;

        filter:alpha(opacity=80);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;


}




table.tabla_centro_control {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

table.tabla_centro_control td {
        padding: 2px;
	text-align: center;
	height: 15px;
	border: 1px solid black;
vertical-align: middle
}

table.tabla_centro_control td.hovered {  
  background-color: #000000;
  color: #fff;  
}  

table.tabla_centro_control tr.hovered {  
  background-color: #000000;
  color: #fff;  
}  

table.tabla_centro_control th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;
	border: 1px solid black;

}



table.tabla_centro_control_enfrentar {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

table.tabla_centro_control_enfrentar td {
	text-align: center;
	height: 15px;
vertical-align: middle;
	border: 1px solid black;
}

table.tabla_centro_control_enfrentar th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;
	border: 1px solid black;

}




table.tabla_mensajes {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}

table.tabla_mensajes td {
        padding: 2px;
	text-align: center;
	height: 15px;
	border: 1px solid black;
vertical-align: middle
}
table.tabla_mensajes td.hovered {  
  background-color: #000000;
  color: #fff;  
}  

table.tabla_mensajes th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}



table.campana_title {
	padding: 10px 10px 10px 10px;
	width: 100%;
	background-color: #221100;
        border 1px;
	margin-top: 20px;
	text-align: center;
	color: #ffbb55;
	border: 1px solid #3e3e3e;
}
table.campana_subtitle {
	padding: 10px 10px 10px 10px;
	width: 100%;
	background-color: #332211;
        border 1px;
	text-align: center;
	color: #ffbb55;
}
table.campana_interior {
	padding: 10px 10px 10px 10px;
	width: 100%;
	background-color: #443322;
        border 1px;
	margin-bottom: 20px;
	text-align: center;
	color: #cecece;
}




table.tabla_informe {
	padding-left: 10px;
	padding-right: 10px;
}

table.tabla_informe td {
        padding: 12px;
	text-align: center;

	border: 1px solid black;
}
table.tabla_informe td.hovered {  
  background-color: #000000;
  color: #fff;  
}  

table.tabla_informe th {
        padding: 15px;
	font-weight: bold;
	font-size: 18px;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}


table.tabla_clan {
	padding-left: 10px;
	padding-right: 10px;
}

table.tabla_clan td {
        padding: 12px;
	text-align: center;

	border: 1px solid black;
}
table.tabla_clan th {
        padding: 15px;
	font-weight: bold;
	font-size: 14px;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}



table.tabla_mensaje {
	padding-left: 10px;
	padding-right: 10px;
}

table.tabla_mensaje td {
        padding: 10px;
	border: 1px solid black;
}
table.tabla_mensaje th {
        padding: 15px;
        padding-left: 15px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}


table.tabla_standard {
	margin-left: auto;
	margin-right: auto;
}

table.tabla_standard td {
        padding: 2px;
	text-align: center;
	border: 1px solid black;
}

table.tabla_standard td.hovered {  
  background-color: #000000;
  color: #fff;  
}  

table.tabla_standard th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}


table.tabla_chat {
	margin-left: auto;
	margin-right: auto;
}

table.tabla_chat td {
        padding: 2px;
	border: 1px solid black;
}
table.tabla_chat th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}



table.tabla_final {
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	padding: 10px;
}

table.tabla_standard td {
        padding: 2px;
	text-align: center;
	border: 1px solid black;
}
table.tabla_standard th {
        padding: 4px;
	font-weight: bold;
        background-color: #a56748;
	color: #000000;
	text-align: center;

	border: 1px solid black;

}




a:link 
{ 
color: #e5a788 ;
text-decoration: none;
}
a:visited { 
color: #e5a788 ;
text-decoration: none;
}
a:hover { 
color: #ffffff ;
text-decoration: none;
}
a:active {
color: #ffffff ;
text-decoration: none;
}



.clan:link 
{ 
color: #ff5599 ;
text-decoration: none;
}
.clan:visited { 
color: #ff5599 ;
text-decoration: none;
}
.clan:hover { 
color: #ffffff ;
text-decoration: none;
}
.clan:active {
color: #ffffff ;
text-decoration: none;
}




.correcto {
  color: #33FF33;	
  font-weight: bold;
}

.error {
  color: #FF3333;	
  font-weight: bold;
}

.errorsutil {
  color: #AA2222;	
}

.errorsutil2 {
  color: #FF3333;	
}

.errorstrong {
color: #AA2222;	
font-weight: bold;
}

.goldcoin {
color: #DDDD77;
font-size: 11px;
font-weight: bold;
}

#espacio_menu {
  height: 2px;
}

.titmenu {
  font-size: 16px;
}


.transparente_8 {
        filter:alpha(opacity=8);
        -moz-opacity:0.8;
        -khtml-opacity: 0.8;
        opacity: 0.8;
        padding-left: 15px;
        padding-right: 15px;
        background-color: #000000;
}




.correctosutil { color: #6bC78e; font-size:13px; font-weight:bold; 

                padding: 5px 5px 5px 5px;
                margin-left: auto;
                margin-right: auto;
                background-color: #000000;
                filter:alpha(opacity=70);
                -moz-opacity:0.7;
                -khtml-opacity: 0.7;
                opacity: 0.7;

                }


.errorform
{
  color: #dd0000;
  font-size: 13px;
}

label.errorform
{
  padding-top: 15px;
  float: clear;
  position: relative;
  left: 10px;
}
