a.Ntooltipfar {
position: relative; /* es la posición normal */
font-weight:bold !important; /* forzar negritas */
}

a.Ntooltipfar:hover {
z-index:999; /* va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltipfar span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltipfar:hover span {
display: block; /* se fuerza a mostrar el bloque */
position: absolute;
top:1.5em; left:1.5em; /* donde va a estar */
width:450px; /* el ancho por defecto que va a tener */
padding:1px; /* la separación entre el contenido y los bordes */
background-color: #555500; /* el color de fondo por defecto */
color: #000000;
border: 1;
}


a.Ntooltip {
position: relative; /* es la posición normal */
font-weight:bold !important; /* forzar negritas */
}

a.Ntooltip:hover {
z-index:999; /* va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip:hover span {
display: block; /* se fuerza a mostrar el bloque */
position: absolute;
top:1em; left:1em; /* donde va a estar */
width:450px; /* el ancho por defecto que va a tener */
padding:1px; /* la separación entre el contenido y los bordes */
background-color: #555500; /* el color de fondo por defecto */
color: #000000;
border: 1;
}




a.Ntooltip_shop {
position: relative; /* es la posición normal */
font-weight:bold !important; /* forzar negritas */
}

a.Ntooltip_shop:hover {
z-index:999; /* va a estar por encima de todo */
background-color:#000000; /* DEBE haber un color de fondo */
}

a.Ntooltip_shop span {
display: none; /* el elemento va a estar oculto */
}

a.Ntooltip_shop:hover span {
display: block; /* se fuerza a mostrar el bloque */
position: absolute;
top:1em; left:1em; /* donde va a estar */
width:200px; /* el ancho por defecto que va a tener */
padding:1px; /* la separación entre el contenido y los bordes */
background-color: #555500; /* el color de fondo por defecto */
color: #000000;
border: 1;
}



.tooltip_interno {

                  padding 1px 1px 1px 1px;
                  background-color: #333300;
                  color: #ffffff;
                  font-weight: bold !important;
                  padding-left: 5px;
                  padding-right: 5px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  opacity:1.0;

}
	

.tooltip_simulador {

                  padding 1px 1px 1px 1px;
                  background-color: #333300;
                  color: #ffffff;
                  font-weight: bold !important;
                  opacity:1.0;

}

//background-color: #333300;


.tooltip_shop {
                  padding 1px 1px 1px 1px;
                  background-color: #333300;
                  color: #ffffff;
                  font-weight: bold !important;
                  padding-left: 5px;
                  padding-right: 5px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  opacity:1.0;
}




.tooltip_interno_2 {

                  padding 1px 1px 1px 1px;
                  background-color: #222200;
                  color: #ffffff;
                  font-weight: bold !important;
		  font-size: 14px;
                  padding-left: 5px;
                  padding-right: 5px;
                  padding-top: 8px;
                  padding-bottom: 8px;

}
